* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*{
	text-decoration: none;
}

body {
	font: 400 16px/1.1 'Roboto', 'Arial', 'Helvetica', sans-serif;
	background: #f0f0f5;
	color: #000;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	padding: 0px 15px;
	width: 960px;
	margin: 0px auto;
}

.navbar {
 background: white;
 height: 80px;
 width: 100%;
 display: flex;
 justify-content: space-between;
}

.logo {
	display:flex;
	justify-content: flex-start;	
}

.navlist {
	 list-style-type: none;
	 font-size: 0px;
	 border: none;
	 display:flex;
	 justify-content: flex-end;

}


.navlist li {
    font-size: 14px;
    display: flex;
}

.navlist li:hover {

  	border: 0px 2px 0px 0px solid orange;
}

.navlist a {

  	border: none;
	display: inline-block;
    padding: 20px 15px;
    transition: all 0.4s ease;
}

.background {
	background: url(../images/baseback.png);
	width: 1920px;
	height: 840px;
	position: relative;
}
.back-row {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.back-col {
	display: flex;
	flex-direction: row;
}

.back-col button {
	background-color: #E8BF5D;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
}


.about-us-text {
}

.about-us-text .backnum {
	position: relative;
	display: inline-block;
	z-index:100;
	color: green;
	 font-size: 120px;

}

.about-us-text h3 {
	position: absolute;
}

.about-us-text h3, .maintext{
	z-index:101;
	color: red;
}

.about-us-text {

}


.attorney-row {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.feedback-row {
	display:flex;
	flex-direction: row;	
	justify-content: space-between;
}

.pub-art-row {
	display:flex;
	flex-direction: row;	
	justify-content: space-between;
}